
data/data_hourly_raw/

.Rproj.user/

.Rhistory

data/data_hourly_bysensor_clean.csv

data/data_daily_bynode_clean.csv

data/data_hourly_bynode_clean.csv

App Text Content In Progress.docx

data/mndot_atr_shapefile/

data/2019_atr_volume/

data/Jan-Feb_2020atr_wim_data.zip

data/2019_wim_volume.zip

data/2019_atr_volume.zip

data/2018_atr_wim_data.zip

volumes-by-CTU-old/

data/

output/hourly-pred-and-act-vol-region-2020-03-27.csv

output/hourly-pred-and-act-vol-by-node-2020-03-27.csv

rsconnect/

MetcLogo4C-360x265.png

MetcLogo4C-360x265.jpg

output/traffic-trends-actions.png

output/gam-models-hourly-2020-03-27.RData

output/pred-and-act-vol-region-2020-03-28.csv

output/pred-and-act-vol-by-node-2020-03-30.csv

output/daily_model_predictions_bynode/

output/gam-models-2020-04-02.RData

hourly-model-example.jpeg
